(
    name: "Pug in training",
    intro: "Shepherd Bob: Henk, I see you've finally made it to my side! As you know, I am Bob, the shepherd. But let's get down to business - these stupid sheep won't board the ship... Ehhm I mean stables. Can you help me find a way to make them cooperate?",
    win: "Good boy! You did it! Let's take \"care\" of the next farm ...",
    loose: "Bad boy! No treats for you! Let's try again ...",
    sheeps_per_spawn: 80,
    win_percent: 0,
    animal_behavior: Some(
        (
            alignment: 1.0,
            cohesion: 0.5,
            separation: 0.1,
            sheep_speed: 25.0,
            vision: 20.0,
            fear: 1.0,
            motivation: 0.1,
            dog_speed: 64.0,
            llama_stomp_rate: 2.,
            llama_stomp_range: 48.,
            llama_stomp_force: 600.,
        ),
    ),
    layout: "
#####################################
#####------##-----------------------#
#####------##-----------------------#
#GG--------##-----------------------#
#GG--------##--------##------S------#
#GG--------##--------##-------------#
#GG--------##--------##-------------#
#GG--------##--------##-------------#
#GG--------##--------##------D------#
#GG--------##--------##-------------#
#GG------------------##-------------#
#GG------------------##------S------#
#####----------------##-------------#
#####----------------##-------------#
#####################################",
)
