(
    name: "Pug in training",
    intro: "Shepherd Bob: Oh no! The sheeps are escaping! Help me to get them back into the stable! Now is your time to shine, Henk!",
    win: "Good boy! Maybe pugs can be shepherds after all!",
    loose: "Bad boy! You messed up! Maybe I should get a real shepherd dog instead of a pug...",
    llama_stomp_rate: 5,
    sheeps_per_spawn: 30,
    win_percent: 50,
    layout:
"###############################
#GGGGGGG----------------------#
#GGGGGGG-----------S--D-------#
#GGGGGGG----------------------#
#GGGGGGG----------------------#
###############################",
)


