(
    name: "Pug in training",
    intro: "Shepherd Bob: This is your last test, Henk. I gave you super treats. You are faster now! Get 50% of the sheeps to the ship!",
    win: "Good boy! Let's rob the next farm!",
    loose: "Bad boy! You messed up! Do a better job or I'll have to find another dog!",
    sheeps_per_spawn: 80,
    win_percent: 70,
    animal_behavior: Some(
        (
            alignment: 0.8,
            cohesion: 1.0,
            separation: 0.1,
            sheep_speed: 25.0,
            vision: 20.0,
            fear: 1.0,
            motivation: 0.1,
            dog_speed: 70.0,
            llama_stomp_rate: 6.,
            llama_stomp_range: 64.,
            llama_stomp_force: 600.,
        ),
    ),
    layout:
"
###################################################
#-----------------------T#T-----------------------#
#-----------------------T#T-----------------------#
#-----------------------T#T-----------------------#
#---S-------------------T#T-------------------S---#
#-----------------------T#T-----------------------#
#-----------------------T#T-----------------------#
#-----------------------T#T-----------------------#
#-----------------------T#T-----------------------#
#-----------------------T#T-----------------------#
#-----------------------T#T-----------------------#
#-------------------L----------L------------------#
#-------------------------------------------------#
#------------------------D------------------------#
#TTTTTTTTTTTTTTTTTT#----GGG----#TTTTTTTTTTTTTTTTTT#
####################----GGG----####################
#TTTTTTTTTTTTTTTTTT#----GGG----#TTTTTTTTTTTTTTTTTT#
#-------------------------------------------------#
#-------------------------------------------------#
#-------------------L---###----L------------------#
#-----------------------T#T-----------------------#
#-----------------------T#T-----------------------#
#-----------------------T#T-----------------------#
#-----------------------T#T-----------------------#
#-----------------------T#T-----------------------#
#-----------------------T#T-----------------------#
#---S-------------------T#T-------------------S---#
#-----------------------T#T-----------------------#
#-----------------------T#T-----------------------#
#-----------------------T#T-----------------------#
###################################################
",
)
