(
    name: "Pug in training",
    intro: "Shepherd Bob: This is your last test, Henk. The sheep are very scared. Get to it!",
    win: "Good boy! You passed the test! Let's rob the galaxy!",
    loose: "Bad boy! You messed up! Do a better job or I'll have to find another dog!",
    sheeps_per_spawn: 80,
    win_percent: 60,
    animal_behavior: Some(
        (
            alignment: 0.8,
            cohesion: 1.0,
            separation: 0.1,
            sheep_speed: 32.0,
            vision: 20.0,
            fear: 1.0,
            motivation: 0.1,
            dog_speed: 70.0,
            llama_stomp_rate: 6.,
            llama_stomp_range: 64.,
            llama_stomp_force: 600.,
        ),
    ),
    layout:
"
###################################################
#-----------------------T#T-----------------------#
#-----------------------T#T-----------------------#
#-----------------------T#T-----------------------#
#---S-------------------T#T-------------------S---#
#-----------------------T#T-----------------------#
#-----------------------T#T-----------------------#
#-----------------------T#T-----------------------#
#-----------------------T#T-----------------------#
#------------------L----T#T-----L-----------------#
#-----------------------T#T-----------------------#
#-------------------------------------------------#
#-------------------------------------------------#
#------------------------D------------------------#
#TTTTTTTTTTTTTTTTTT#----GGG----#TTTTTTTTTTTTTTTTTT#
####################----GGG----####################
#TTTTTTTTTTTTTTTTTT#----GGG----#TTTTTTTTTTTTTTTTTT#
#-------------------------------------------------#
#-------------------------------------------------#
#-----------------------###-----------------------#
#-----------------------T#T-----------------------#
#------------------L----T#T-----L-----------------#
#-----------------------T#T-----------------------#
#-----------------------T#T-----------------------#
#-----------------------T#T-----------------------#
#-----------------------T#T-----------------------#
#---S-------------------T#T-------------------S---#
#-----------------------T#T-----------------------#
#-----------------------T#T-----------------------#
#-----------------------T#T-----------------------#
###################################################
",
)
