(
    name: "Pug in training",
    intro: "Custom level",
    win: "you beat it!",
    loose: "you lost!",
    llama_stomp_rate: 5,
    sheeps_per_spawn: 30,
    win_percent: 50,
    layout:
"###################################
#---------------------------------#
#----------------D----------------#
#---S-----------------------------#
#---------------------------------#
#--------------GGGG---------------#
#--------------GGGG---------------#
#--------------GGGG---------------#
#---------------------------------#
#---------------------------------#
#---S-------------------------S---#
#---------------------------------#
###################################",
)
