(
    name: "Pug in training",
    intro: "Custom level",
    win: "you beat it!",
    loose: "you lost!",
    llama_stomp_rate: 5,
    sheeps_per_spawn: 30,
    win_percent: 50,
    animal_behavior: Some(
        (
            alignment: 1.0,
            cohesion: 0.5,
            separation: 0.1,
            sheep_speed: 88.0,
            vision: 20.0,
            fear: 1.0,
            motivation: 0.1,
            dog_speed: 64.0,
            llama_stomp_rate: 2.,
            llama_stomp_range: 48.,
            llama_stomp_force: 600.,
        ),
    ),
    layout:
"###################################
#-----------------------#---------#
#----------------D------#---------#
#---S-----------------------------#
#---------------------------------#
#--------------GGGG-----#---------#
#--------------GGGG-----#---------#
#--------------GGGG-----#---------#
#-----------------------#---------#
#-----------------------#---------#
#---S-------------------#-----S---#
#-----------------------#---------#
###################################",
)
