(
    sheeps_per_spawn: 30,
    layout:
"#############
#-D---T----G#
#-----T--T-G#
#-SS-----T-G#
#-SS-----T-G#
#-SS-----T-G#
#-SS-----T-G#
#-SS-----T-G#
#-SS-----T-G#
#-SS-----T-G#
#-SS--T--T-G#
#-SS--T----G#
#############",
)
