(
	name: "Sheep Invasion",
	intro : "The sheeps are coming!",
    win: "Good boy! The sheeps are save (mostly)",
    loose: "Bad boy! You messed up the sheeps!",
    llama_stomp_rate: 5,
    sheeps_per_spawn: 30,
    layout:
"#############
#-D------#-G#
#-----T--#-G#
#-SS--#--#-G#
#-SS--#--#-G#
#-SS--#--#-G#
#-SS--#--#-G#
#-SS--#--#-G#
#-SS--#--#-G#
#-SS--#--T-G#
#-SS--#--T-G#
#-SS--#----G#
#############",
)


